@use '@/styles/global' as *;

.setting {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4px;

  b {
    font-size: 12px;
  }

  span {
    font-size: 14px;
    font-weight: 300;
  }
}
