@use '@/styles/global' as *;

.page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  padding: 16px;
  overflow-y: auto;

  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
}
