@use '@/styles/global' as *;

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;

  color: white;
  border-color: $primary-color;

  &_active {
    background-color: $primary-color;
    border-radius: 8px;
  }

  li {
    a {
      display: flex;
      padding: 8px 12px;
      border: 1px solid $border-color;
      border-radius: 8px;
      color: $text-color;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
